
:root {
    --navbar-background-color: #f2f2f2;
    --navbar-item-hovered-color:white;
    --navbar-separator-color:#ececec;
    --navbar-icon-color:#646c79;
    --navbar-text-color:black;
    --navbar-transition-speed: .5s;
    --primary-color:#7C4DFF;
    --navbar-logo-background-color:#e2dfe4;
    --font-pokemon:'Pokemon Solid', sans-serif;
  }



/*header text*/
header{ 
  
  text-align: center; 
  background-color: #4A90E2; /* Blue*/
  border: 4px solid #FFCC00; /* Yellow */
  padding: 10px;
  border-radius: 10px;
  
 
}
header p.title{
    font-family: var(--font-pokemon);
    font-size: xxx-large;
    color: #FFD700;
    text-shadow: -6px -6px 0 #0044cc, 6px -6px 0 #0044cc, -6px 6px 0 #0044cc, 6px 6px 0 #0044cc; /* Dark blue outline*/
    text-align: center; 
    
                                              
}
/*sets the police for all text */
*{
  font-family: var(--font-pokemon);
}

/*Navbar*/

nav.navbar {
    background: var(--navbar-background-color);
    
    box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
  
  }
  
  .navbar-menu {
    display: flex;
  /*  justify-content: flex-end;*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 4rem;
  }
  
  .navbar-menu li {
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .navbar-item {
  
    display: flex; /* flexbox */
  }
  
  .navbar-item:hover {
    background-color: var(--navbar-item-hovered-color);
  }
  
  .navbar-link {
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
  }
  
  .navbar-icon {
    margin-right: 1rem;
  }
 







/* search bar*/

.search-container {
    background-color: red;
    border :4px solid black;
    text-align: center;
    margin-top: 30px; /* Position of the search bar from the top of the page */
}

.search-container label,

.search-container button {
    font-family: var(--font-pokemon);
    display: block;
    margin: 10px auto; /* auto-centric horizontally */
}
.search-options {
    display: none; /*Hides the search options at the start */
    margin-top: 10px;
    font-family: var(--font-pokemon);
}

 body{
 	background-image: url("");
 	background-size: cover;
 	background-position: center; 
 	background-repeat: no-repeat;
 }
