#pfp{
	margin-left:45vw;
	margin-right:45vw;
	width:100px;
	height:100px;
	border-radius:50px;
}

#addpfp{
	
}

#piclist{
	width:95vw;
	background-color:#FF6666;
}

#pics{
	margin:0px;
	width:19.73%;
}
